In [2]:
import duckdb as duck
conn = duck.connect()

In [3]:
duck.sql("CREATE TABLE taxi_data AS SELECT * FROM read_parquet('green_tripdata_2025-11.parquet')")
duck.sql("CREATE TABLE taxi_zone_lookup AS SELECT * FROM read_csv('taxi_zone_lookup.csv')")

In [4]:
taxi_data = duck.sql("SELECT * FROM taxi_data")
taxi_zone_lookup = duck.sql("SELECT * FROM taxi_zone_lookup")

In [5]:
taxi_data.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge',
 'cbd_congestion_fee']

In [14]:
duck.sql("""
    SELECT COUNT(*)
    FROM taxi_data
    WHERE month(lpep_pickup_datetime) = 11 AND trip_distance <= 1
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         8007 │
└──────────────┘

In [25]:
duck.sql("""
    SELECT date(lpep_pickup_datetime) AS pickup_day, MAX(trip_distance) AS max_trip_distance
    FROM taxi_data
    WHERE trip_distance < 100
    GROUP BY pickup_day
    ORDER BY max_trip_distance DESC
""")

┌────────────┬───────────────────┐
│ pickup_day │ max_trip_distance │
│    date    │      double       │
├────────────┼───────────────────┤
│ 2025-11-14 │             88.03 │
│ 2025-11-20 │             73.84 │
│ 2025-11-23 │             45.26 │
│ 2025-11-22 │             40.16 │
│ 2025-11-15 │             39.81 │
│ 2025-11-11 │              39.0 │
│ 2025-11-19 │             38.68 │
│ 2025-11-16 │             37.67 │
│ 2025-11-10 │             36.46 │
│ 2025-11-26 │              36.1 │
│     ·      │                ·  │
│     ·      │                ·  │
│     ·      │                ·  │
│ 2025-11-13 │             27.58 │
│ 2025-11-03 │             27.35 │
│ 2025-11-07 │             27.11 │
│ 2025-11-27 │             25.29 │
│ 2025-11-17 │             22.44 │
│ 2025-10-31 │             16.25 │
│ 2025-10-30 │               5.7 │
│ 2025-10-27 │              4.98 │
│ 2025-12-01 │              4.81 │
│ 2025-10-26 │              1.35 │
├────────────┴───────────────────┤
│ 35 rows (20 shown)   2 columns │
└────────────────────────────────┘

In [31]:
duck.sql("""
    SELECT Zone , COUNT(*) AS total_amount
    FROM taxi_data AS td
    LEFT JOIN taxi_zone_lookup AS tzl ON td.PULocationID = tzl.LocationID
    WHERE date(lpep_pickup_datetime) = '2025-11-18'
    GROUP BY zone
    ORDER BY total_amount DESC
""")

┌──────────────────────────┬──────────────┐
│           Zone           │ total_amount │
│         varchar          │    int64     │
├──────────────────────────┼──────────────┤
│ East Harlem North        │          434 │
│ East Harlem South        │          298 │
│ Central Park             │          104 │
│ Morningside Heights      │           88 │
│ Forest Hills             │           72 │
│ Fort Greene              │           62 │
│ Jamaica                  │           58 │
│ Washington Heights South │           56 │
│ Central Harlem           │           50 │
│ Elmhurst                 │           46 │
│    ·                     │            · │
│    ·                     │            · │
│    ·                     │            · │
│ Bushwick South           │            1 │
│ Laurelton                │            1 │
│ Bellerose                │            1 │
│ East Elmhurst            │            1 │
│ Garment District         │            1 │
│ Kingsbridge Heights      │            1 │
│ World Trade Center       │            1 │
│ Oakland Gardens          │            1 │
│ South Williamsburg       │            1 │
│ Financial District South │            1 │
├──────────────────────────┴──────────────┤
│ 137 rows (20 shown)           2 columns │
└─────────────────────────────────────────┘

In [38]:
duck.sql("""
    SELECT tl.Zone , MAX(tip_amount) AS max_tip
    FROM taxi_data AS td
    LEFT JOIN taxi_zone_lookup AS tzl ON td.PULocationID = tzl.LocationID
    LEFT JOIN taxi_zone_lookup AS tl ON td.DOLocationID = tl.LocationID
    WHERE month(lpep_pickup_datetime) = 11 AND tzl.zone = 'East Harlem North'
    GROUP BY tl.zone
    ORDER BY max_tip DESC
""")

┌───────────────────────────────┬─────────┐
│             Zone              │ max_tip │
│            varchar            │ double  │
├───────────────────────────────┼─────────┤
│ Yorkville West                │   81.89 │
│ LaGuardia Airport             │    50.0 │
│ East Harlem North             │    45.0 │
│ Long Island City/Queens Plaza │   34.25 │
│ NA                            │    28.9 │
│ JFK Airport                   │   23.53 │
│ East Harlem South             │    20.0 │
│ Newark Airport                │    20.0 │
│ Morningside Heights           │    20.0 │
│ Clinton East                  │    20.0 │
│      ·                        │      ·  │
│      ·                        │      ·  │
│      ·                        │      ·  │
│ Van Cortlandt Village         │     0.0 │
│ West Village                  │     0.0 │
│ Forest Park/Highland Park     │     0.0 │
│ Fordham South                 │     0.0 │
│ East Tremont                  │     0.0 │
│ Crown Heights South           │     0.0 │
│ Downtown Brooklyn/MetroTech   │     0.0 │
│ Hollis                        │     0.0 │
│ Williamsbridge/Olinville      │     0.0 │
│ Erasmus                       │     0.0 │
├───────────────────────────────┴─────────┤
│ 137 rows (20 shown)           2 columns │
└─────────────────────────────────────────┘

In [32]:
taxi_zone_lookup

┌────────────┬───────────────┬───────────────────────────┬──────────────┐
│ LocationID │    Borough    │           Zone            │ service_zone │
│   int64    │    varchar    │          varchar          │   varchar    │
├────────────┼───────────────┼───────────────────────────┼──────────────┤
│          1 │ EWR           │ Newark Airport            │ EWR          │
│          2 │ Queens        │ Jamaica Bay               │ Boro Zone    │
│          3 │ Bronx         │ Allerton/Pelham Gardens   │ Boro Zone    │
│          4 │ Manhattan     │ Alphabet City             │ Yellow Zone  │
│          5 │ Staten Island │ Arden Heights             │ Boro Zone    │
│          6 │ Staten Island │ Arrochar/Fort Wadsworth   │ Boro Zone    │
│          7 │ Queens        │ Astoria                   │ Boro Zone    │
│          8 │ Queens        │ Astoria Park              │ Boro Zone    │
│          9 │ Queens        │ Auburndale                │ Boro Zone    │
│         10 │ Queens        │ Baisley Park              │ Boro Zone    │
│          · │   ·           │      ·                    │     ·        │
│          · │   ·           │      ·                    │     ·        │
│          · │   ·           │      ·                    │     ·        │
│        256 │ Brooklyn      │ Williamsburg (South Side) │ Boro Zone    │
│        257 │ Brooklyn      │ Windsor Terrace           │ Boro Zone    │
│        258 │ Queens        │ Woodhaven                 │ Boro Zone    │
│        259 │ Bronx         │ Woodlawn/Wakefield        │ Boro Zone    │
│        260 │ Queens        │ Woodside                  │ Boro Zone    │
│        261 │ Manhattan     │ World Trade Center        │ Yellow Zone  │
│        262 │ Manhattan     │ Yorkville East            │ Yellow Zone  │
│        263 │ Manhattan     │ Yorkville West            │ Yellow Zone  │
│        264 │ Unknown       │ NV                        │ N/A          │
│        265 │ Unknown       │ NA                        │ N/A          │
├────────────┴───────────────┴───────────────────────────┴──────────────┤
│ 265 rows (20 shown)                                         4 columns │
└───────────────────────────────────────────────────────────────────────┘

In [35]:
taxi_data.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge',
 'cbd_congestion_fee']